<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>873201450154-3j0mnpl5auu4973vvorckr9n4e4tk2iv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.873201450154-3j0mnpl5auu4973vvorckr9n4e4tk2iv</string>
	<key>API_KEY</key>
	<string>AIzaSyA7IaFt75a0zK_0Oe4T8LWx2Pcuv3uFAoA</string>
	<key>GCM_SENDER_ID</key>
	<string>873201450154</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mobile.vtc.smartAgent.alpha</string>
	<key>PROJECT_ID</key>
	<string>animation-demo-3bc8b</string>
	<key>STORAGE_BUCKET</key>
	<string>animation-demo-3bc8b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:873201450154:ios:22947dbb60924daa9624d3</string>
</dict>
</plist>