<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Animation Demo</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>animation_demo</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>369643970338439</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>FacebookAppID</key>
	<string>369643970338439</string>
	<key>FacebookDisplayName</key>
	<string>My App</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fbshareextension</string>
		<string>fbapi20130214</string>
		<string>fbapi20130410</string>
		<string>fbapi20130702</string>
		<string>fbapi20131010</string>
		<string>fbapi20131219</string>
		<string>fbapi20140410</string>
		<string>fbapi20140116</string>
		<string>fbapi20150313</string>
		<string>fbapi20150629</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Chúng tôi truy cập camera của bạn để sử dụng chức năng chụp ảnh và quét mã QR. Vui lòng đồng ý để tiếp tục.</string>
	<key>NSContactsUsageDescription</key>
	<string>Chúng tôi sử dụng danh bạ của bạn để gợi ý khi chuyển tiền và nạp tiền, cập nhật thay đổi đầu số nhà mạng. Vui lòng đồng ý để tiếp tục.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Sử dụng FaceID để đăng nhập nhanh chóng hơn.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Chúng tôi sử dụng vị trí của bạn để cung cấp dịch vụ phù hợp với địa điểm của bạn</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Chúng tôi sử dụng vị trí của bạn để cung cấp dịch vụ phù hợp với địa điểm của bạn</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Chúng tôi sử dụng vị trí của bạn để cung cấp dịch vụ phù hợp với địa điểm của bạn</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Chúng tôi truy cập microphone của bạn để sử dụng chức năng quay video. Vui lòng đồng ý để tiếp tục.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Chúng tôi sử dụng chức năng chụp ảnh màn hình để giúp bạn lưu thông tin thẻ</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Chúng tôi sử dụng thư viện ảnh của bạn để cập nhật cho thông tin cá nhân và định danh ví. Vui lòng đồng ý để tiếp tục.</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>$(LAUNCH_SCREEN_STORYBOARD)</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
</dict>
</plist>
